:root {
  --outer-edges: 0.6em;
  --inner-edges: 0.5em;
  --padding: 0.75em;
  --black: #111;
  --white: #fafafa;
  --gray: #555;
  --red: #FA8072;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #eee;
}

h1,
h2,
h3,
p,
ul,
li,
label {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0.25em 0 0 0.25em
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  color: var(--black);
}

h3 {
  font-size: 1.5rem;
}

.sort {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0 0.5em 0.75em 0.5em;
}

select {
  font-size: 0.9rem;
  padding: 0.25em 0.75em;
  border: 1px solid var(--black);
  border-radius: 100px;
  transition: 0.4s;
  background-color: var(--white);
}

select {
  appearance: base-select;
}

select::picker-icon {
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

img {
  width: 100%;
}

#cart-list {
  height: 500px;
  list-style-type: none;
  overflow-y: scroll;
}

.stats {
  position: relative;
  padding: 0.75em;
  border: 2px solid var(--black);
  margin: 0.5em;
  margin-bottom: 0.75em;
}

.stats,
.list-item {
  border-radius: var(--outer-edges);
  background-color: var(--white);
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding: 0.75em;
  margin: 0 0.5em 0.75em 0.5em;
}

.list-item>.illustration {
  width: 25%;
  display: grid;
  place-items: center;
}

.list-item>.details {
  width: 75%;
}

.list-item img {
  width: 55px;
  height: 55px;
  padding: 0.5em;
  border: 1px solid #CED4DA;
  border-radius: var(--inner-edges);
  background-color: #e9ecef;
}

.show-add-form-button {
  position: absolute;
  right: 0;
  bottom: 50%;
  translate: 0 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 1.5em;
  border-radius: 50%;
  background-color: var(--black);
}

.fa-plus {
  color: var(--white);
}

.item-name,
.item-price,
.item-quantity {
  color: var(--gray);
}

.item-price,
.item-quantity {
  font-size: 0.8rem;
}

.item-name {
  line-height: 1.3;
  text-transform: capitalize;
}

dialog {
  width: 100%;
  border: none;
  padding: 1em;
  border-radius: var(--outer-edges);
  background-color: var(--white);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

form>.buttons,
form>.numbers {
  display: flex;
  gap: 1em;
}

form>p {
  margin-bottom: 1em;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-group {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: var(--inner-edges);
  background-color: #eee;
}

.form-group:has(input:focus) {
  outline: 1px solid var(--black);
}

form .buttons .delete-button {
  width: 25%;
}

form>.numbers .form-group {
  width: calc(50% - 0.5em);
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input,
button {
  width: stretch;
}

.add-button,
.update-button {
  color: var(--white);
  border: 1px solid var(--black);
  background-color: var(--black);
}

.delete-button {
  color: var(--red);
  border: 1px solid var(--red);
  background-color: transparent;
}

button {
  font-weight: bold;
  border-radius: var(--inner-edges);
  padding: var(--padding);
}